.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.testimonial{
  height: 300px;
  width: 350px;
  background-color: white;
  position: relative;
  border-radius: 20px;
}
.testimonial-header{
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: lightgray;
  top: -30px;
  left: 50%;
  padding: 5px;
  transform: translateX(-50%);
}
.testimonial-image{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: blue;
}
.testimonial-content{
  /* background-color: ; */
  margin-top: 80px;
  padding: 10px 15px;
  
}
.testimonial-content p{
  font-size: 16px;
  font-weight: 500;
  color: darkgray;
}
.testimonial-content h1{
  font-size: 18px;
  font-weight: 600;
  color: darkgray;
  margin-top: 10px;
}